.accountSetting{
    position: absolute;
    right: 15px;
    top: 100%;
    background-color: var(--main-white-color);
    box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: 9999;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.accountSetting__avatar{
    margin-bottom: 15px;
}
.accountSetting__name{
    font-size: 13px;
    font-weight: 600;
    color: var(--main-text-black-color);
}
.accountSetting__email{
    font-size: 13px;
    font-weight: 600;
    padding: 10px 0;
    color: var(--main-gray-color);
}
.accountSetting__setting,
.accountSetting__signOut{
    background-color: var(--main-white-color) !important;
    border: 1px solid rgba(100, 121, 143, 0.414) !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    color: var(--main-text-black-color) !important;
    padding: 10px 20px !important;
    font-size: 11px !important;
    width: 100% !important;
}
.accountSetting__signOut{
    margin-top: 15px !important;
    border-radius: 8px !important;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    -ms-border-radius: 8px !important;
    -o-border-radius: 8px !important;
}